@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
 
@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/Playfair-Display-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Playfair-Display-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Playfair-Display-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Playfair-Display-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Playfair-Display-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Playfair-Display-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Playfair Display Italic';
  src: url('../fonts/Playfair-Display-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Playfair-Display-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Playfair-Display-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Playfair-Display-Italic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Playfair-Display-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Playfair-Display-Italic.svg#svgFontName') format('svg'); /* Legacy iOS */
}
